@model IEnumerable<mvcBirds.Models.Sighting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Register">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sighting_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartitionKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RowKey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birder_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bird_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sighting_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sighting_Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sighting_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartitionKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birder_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bird_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sighting_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sighting_Location)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
